h1 {
    background-color: blue;
}
body{
    font-size: 20px;
    background-color: ;
}
            
P, h1 {
    font-size: 1em;
    color: aqua
}
ul {                /*lista*/
    color: red;
}
.item {             /* cała klasa*/
    color: black;
}
#item {             /* przedmiot z nadanym ID*/
    color: aquamarine
}
a:link {            /* styl linków */
    color: green;
}
a:visited {
    color: red;
}
a:hover {
    color: black;
}
a:active {
    color: aqua
}