body {
    text-align: center;
    font-size: 2em;
    background-color: #a01c93;
}
.red {
    background-color: #ad0d0d;
}
.blue {
    background-color: #1b2191;
}
.winner {
    color: lawngreen;
    border: 3px solid pink;
}